<%- include('partials/header'); -%>

    <header>
        <div class="smoothie">
            <img src="/blog-2.svg" alt="" />
        </div>
        <div class="headings">
            <h2>Sign in to visit Snow man</h2>
            <h3>By Team-84</h3>
            <a href="/smoothies" class="btn">View Ice-Man</a>
        </div>
    </header>