<%- include('partials/header'); -%>
    <!-- ----------------------------------------------------------------------------------------- -->
    <!-- <div class="login-box">
        <h2>Login</h2>
        <form>
            <div class="user-box">
                <input type="text" name="" required="" />
                <label>Username</label>
            </div>
            <div class="user-box">
                <input type="password" name="" required="" />
                <label>Password</label>
            </div>
            <a href="#">
                <span></span>
                <span></span>
                <span></span>
                <span></span> Submit
            </a>
        </form>
    </div> -->
    <!-- ------------------------------------------ -->
    <form action="">
        <h2>Login</h2>
        <label for="email">Email</label>
        <input type="text" name="email" required />
        <div class="email error"></div>
        <label for="password">password</label>
        <input type="password" name="password" required />
        <div class="password error"></div>
        <button>Login</button>
    </form>

    <script>
        const form = document.querySelector("form");
        const emailError = document.querySelector(".email.error");
        const passwordError = document.querySelector(".password.error");
        //     e.preventDefault();

        //     // get the values
        //     const email = form.email.value;
        //     const password = form.password.value;

        //     console.log(email, password);

        form.addEventListener("submit", async(e) => {
            e.preventDefault();

            //reset errors
            emailError.textContent = "";
            passwordError.textContent = "";

            // get the values
            const email = form.email.value;
            const password = form.password.value;

            try {
                const res = await fetch("/login", {
                    method: "POST",
                    body: JSON.stringify({
                        email,
                        password,
                    }),
                    headers: {
                        "Content-Type": "application/json",
                    },
                });
                const data = await res.json();
                console.log(data);
                if (data.errors) {
                    emailError.textContent = data.errors.email;
                    passwordError.textContent = data.errors.password;
                }
                if (data.user) {
                    location.assign("/");
                }
            } catch (err) {
                console.log(err);
            }
        });
    </script>

    <%- include('partials/footer'); -%>